/* Styles pour l'interface d'administration du builder */

/* règles générales */
.hidden {
    display: none !important;
}

.d-none {
    display: none;
}

/* règles pour le reste des menus WP (en cas de conflit) */
.wp-list-table {
    position: initial !important;
}

.builder-metabox {
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
}

.builder-metabox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.builder-metabox input[type="text"],
.builder-metabox input[type="url"],
.builder-metabox textarea {
    width: 100%;
    margin-bottom: 10px;
}

.builder-metabox h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.galigeo-admin-block {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    gap: 0 35px;
    align-items: center;   
    /*background-color: #FEFEED;*/
    /* box-shadow: 1px 1px 2px #A3A3A3; */
    padding: 20px;     
}

.remove-block {
    margin: 15px 0 !important;
}

.bg-image-container {
    position: relative;
    display: inline-block; /* Assure que le bouton reste lié à l'image */
}

.bg-image-preview {
    display: block;
    max-width: 100%; /* S'assure que l'image reste responsive */
    height: auto;
}

.remove-bg-image, .remove-extra-image {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px; /* Taille du bouton */
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.extra-image-container, .bg-image-container {
    display: flex;
    justify-content: flex-start;
}


.lc_logos_block {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: start;
}

.lc_logos_block img {
    width: 140px;
}

/* CSS pour la modale */
#galigeo_builder #confirm-delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* S'assurer que la modale est au-dessus de tout le reste */
}

/* Modal de sélection du block à ajouter */
.galigeo-dialog .ui-dialog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
    flex-direction: column;
    padding: 20px;
}

.galigeo-dialog .ui-dialog-content .button {
    min-height: 40px !important;
}


/* Conteneur de la fenêtre modale */
#galigeo_builder #confirm-delete-modal .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style du titre de la modale */
#galigeo_builder #confirm-delete-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Style des boutons */
#galigeo_builder #confirm-delete-modal button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#galigeo_builder #cancel-delete {
    background: #ccc;
    color: #333;
}

#galigeo_builder #confirm-delete {
    background: #e53e3e;
    color: white;
}

/* Visuel alterné */

.av-inner-image-container {
    position: relative;
}