/* Règles générales */

.galigeo-bleu {
    color: #03234d;
}

.galigeo-vert {
    color: #2ec975;
}

.galigeo-bleu-transp {
    color: #ebf1f7;
}

.galigeo-vert-transp {
    color: #ebfff3;
}

.compressed-width {
    max-width: 800px;
}

/* Styles pour l'affichage front-end du builder */
.builder-slider {
    position: relative;
    margin-bottom: 30px;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider-item {
    display: none;
}

.slider-item:first-child {
    display: block;
}

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073aa;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.builder-video {
    margin-bottom: 30px;
}

.video-title {
    margin-bottom: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-description {
    margin-top: 10px;
}