/* Règles générales */

.galigeo-title, .galigeo-subtitle {
    max-width: 40rem !important;
    margin: 2rem auto !important;
}

.galigeo-bleu {
    color: #03234d;
}

.galigeo-vert {
    color: #2ec975;
}

.galigeo-bleu-transp {
    color: #ebf1f7;
}

.galigeo-vert-transp {
    color: #ebfff3;
}

.compressed-width {
    max-width: 800px;
}

/* Video block */


.galigeo-builder-video {
    margin: 70px auto;
}

.galigeo-builder-video .video-title {
    margin-bottom: 10px;
}

.galigeo-builder-video .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
}

.galigeo-builder-video .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galigeo-builder-video .video-description {
    margin-top: 10px;
}

/* Slider block */

.galigeo-slider-wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 70px auto;
    overflow: hidden;
    padding: 0 10%;
}

.galigeo-slider {
    position: relative;
    overflow: visible;
    height: 400px; /* Ajustez selon vos besoins */
}

.galigeo-slider-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.galigeo-slide {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin: 0 2%;
    border-radius: 10px;
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

.galigeo-slide.active {
    transform: scale(1);
}

.galigeo-slide-content {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    gap: 40px;    
}

.galigeo-slide-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.galigeo-slide-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.galigeo-slide-button:hover {
    opacity: 0.9;
}

.galigeo-slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.5);
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 10;
}

.galigeo-slider-nav:hover {
    background: rgba(255,255,255,0.8);
}

.galigeo-slider-prev { left: -5%; }
.galigeo-slider-next { right: -5%; }



/* Slider Home */

.galigeo-slider-home-wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 70px auto;
    overflow: hidden;
    padding: 0;
    border-radius: 8px;
}

.galigeo-slider-home {
    position: relative;
    overflow: hidden;
}

.galigeo-slider-home-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.galigeo-slide-home {
    flex: 0 0 100%; /* Le slide actif prend toute la largeur */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.5s ease;
}

.galigeo-slide-home.active {
    transform: translateX(0); /* Slide actif visible */
}

.galigeo-slide-home-content {
    max-width: 70%;
    color: white;
    text-align: center;
}

.galigeo-slide-home-title {
    font-family: Literata;
    color: #03234D;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.galigeo-slide-home-subtitle {
    font-family: Literata;
    font-size: 1rem;
    color: #5C5C5C;
    margin-bottom: 1.5rem;
}

.galigeo-slide-home-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.7rem;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 0.938rem;
    background-color: #03234D !important;
    transition: opacity 0.3s ease;
}

.galigeo-slide-home-button:hover {
    opacity: 0.9;
}

.galigeo-slide-home-image {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Boutons de navigation à l'intérieur du slide */
.galigeo-slider-home-nav, .testimonials-slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #2ECC71;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 10;
}

.galigeo-slider-home-nav:hover, .testimonials-slider-nav:hover {
    background: white;
}

.galigeo-slider-home-prev:hover, .testimonials-slider-prev:hover,
.galigeo-slider-home-next:hover, .testimonials-slider-next:hover {
    opacity: 0.5;
}

.galigeo-slider-home-prev, .testimonials-slider-prev {
    left: 10px; /* Bouton précédent à gauche */
}

.galigeo-slider-home-next, .testimonials-slider-next {
    right: 10px; /* Bouton suivant à droite */
}

/* Cacher les boutons et arrêter le slider si un seul slide */
.galigeo-slider-single-home .galigeo-slider-home-nav {
    display: none;
}

.galigeo-slide-home-extra-image {
    display: block;
    margin: 2rem auto 0;
    height: 30rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Alternate visual */

.av_alternate_visual_block {
    max-width: 1800px;
    margin: 30px auto;
    width: 80%;
    border-radius: 1em;
}

.av_alternate_visual_block > .container {
    gap: 4em;
}

@media all and (max-width: 768px) {
    .av_alternate_visual_block > .container {
        display: flex;
        flex-direction: column !important;
    }

    .av_text_block, .av_image_block {
        width: 100% !important;
    }
}

/* Colonnes simples */

.galigeo-columns-block {
    background: #F4F5F7;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.galigeo-columns-block .galigeo-column {
    background: #fff;
    border-radius: 1.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
}

.galigeo-column-title {
    font-family: Montserrat Medium;
    font-size: 2rem;
    color: #03234D;
    margin-bottom: 1rem;
}

.galigeo-column-desc {
    font-family : 'Montserrat Regular';
    font-size :  1.125rem;
    color : #909090;
    margin-bottom: 1.5rem;
}

.galigeo-column-img {
    width: 250px !important;
}

.galigeo-column {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 450px;
}

.galigeo-logo-carousel-image.black-white {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

/* Optionnel : Effet de survol pour revenir en couleur */
.galigeo-logo-carousel-image.black-white:hover {
    filter: grayscale(0%);
}

@media all and (max-width: 768px) {
    .galigeo-columns-block {
        flex-direction: column;
    }

    .galigeo-column {
        width: 90% !important;
    }
}

/* Text block */

.galigeo-text-block {
    background: #F4F5F7;
    border-radius: 2rem !important;
    padding: 1.5rem !important;
    width: 100% !important;
    text-align: center !important;
}

.galigeo-text-title {
    font-family: Montserrat Medium;
    font-size: 2rem !important;
    color: #03234D !important;
    margin-bottom: 1rem !important;
}

.galigeo-text-description {
    font-family : 'Montserrat Regular';
    font-size :  1.125rem !important;
    color : #909090 !important;
    margin-bottom: 1.5rem !important;
}

/* Block testimonials */

.testimonials-slider-wrapper {
    position: relative;
    overflow: hidden;
}

.testimonials-slider {
    position: relative;
    padding: 15rem 0;
}

.testimonials-slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.testimonial-slide-content {
    background: #fff;
    padding: 20px;  
    max-width: 600px;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem 3rem 2rem;

}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.testimonial-image {
    margin-right: 15px;
    flex-shrink: 0;
    width : 3.75rem​;
    margin-right : 0.75rem​;
    margin-bottom : 1.5rem​;

}

.testimonial-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-details {
    flex-grow: 1;
}

.testimonial-name {
    font-weight: bold;
    font-family : 'Literata​';
    font-size : 1.25rem​ !important;
    margin-bottom : 5rem​;

}

.testimonial-position {
    color: #666;
    font-family : 'Montserrat';
    font-size : 1rem !important;

}

.testimonial-quote {
    font-style: italic;
    margin-top: 15px;
    font-family : 'Montserrat​';
    font-size : 1rem​ !important

}


.galigeo-logo-carousel-wrapper {
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.galigeo-logo-carousel {
    position: relative;
    overflow: hidden;
}

.galigeo-logo-carousel-container {
    display: flex;
    width: 100%;
}

.galigeo-logo-carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.galigeo-logo-carousel-image {
    max-width: 100%;
    max-height: 100px; /* Hauteur maximum des logos */
    width: auto;
    height: auto;
    object-fit: contain;
}

.galigeo-logo-carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.galigeo-logo-carousel-prev {
    left: 0;
}

.galigeo-logo-carousel-next {
    right: 0;
}

.galigeo-logo-carousel-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Media queries pour le responsive */
@media screen and (min-width: 1024px) {
    .galigeo-logo-carousel-slide {
        flex: 0 0 20%; /* 5 logos */
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .galigeo-logo-carousel-slide {
        flex: 0 0 33.333%; /* 3 logos */
    }
}

@media screen and (max-width: 767px) {
    .galigeo-logo-carousel-slide {
        flex: 0 0 100%; /* 1 logo */
    }
}

/* Heros cas client */

.hero-cas-client {
    padding: 5rem 0 7.5rem;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.hero-text {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.hero-success-story {
    font-family: 'Literata​';
    font-size: 0.875rem;
    font-weight: bold;
    color: #2ECC71;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero-title {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #03234D;
}

.hero-description {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    line-height: 1.6;
    color: #909090;
    margin-bottom: 2rem;
}

.hero-image {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    max-height: 22rem;
    display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
    .hero-text,
    .hero-image {
        max-width: 100%;
        text-align: center;
    }
}

/* CTA */

.galigeo-cta .cta-btn > a:hover {
    border : solid #2ecc71 1px;
    box-shadow : 0 4px 4px rgba(0,0,0,0.16);
}