/* Styles pour l'interface d'administration du builder */
.builder-metabox {
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
}

.builder-metabox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.builder-metabox input[type="text"],
.builder-metabox input[type="url"],
.builder-metabox textarea {
    width: 100%;
    margin-bottom: 10px;
}

.builder-metabox h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.galigeo-admin-block {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    gap: 0 35px;
    align-items: center;   
    /*background-color: #FEFEED;*/
    /* box-shadow: 1px 1px 2px #A3A3A3; */
    padding: 20px;     
}

.remove-block {
    margin: 15px 0 !important;
}

.lc_logos_block {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: start;
}

.lc_logos_block img {
    width: 140px;
}