/* Règles générales */

.galigeo-title, .galigeo-subtitle {
    margin: 2rem auto;
}

.galigeo-bleu {
    color: #03234d;
}

.galigeo-vert {
    color: #2ec975;
}

.galigeo-bleu-transp {
    color: #ebf1f7;
}

.galigeo-vert-transp {
    color: #ebfff3;
}

.compressed-width {
    max-width: 800px;
}

/* Video block */


.galigeo-builder-video {
    margin: 70px auto;
}

.galigeo-builder-video .galigeo-video-title {
    margin-bottom: 10px;
}

.galigeo-builder-video .galigeo-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
}

.galigeo-builder-video .galigeo-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galigeo-builder-video .galigeo-video-description {
    margin-top: 10px;
}

@media all and (max-width: 768px) {
    .galigeo-video-container {
        margin-right: 20px;
        margin-left: 20px;
        width: auto !important;
    }
}


/* Slider block */

.galigeo-slider-wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 70px auto;
    overflow: hidden;
    padding: 0 10%;
}

.galigeo-slider {
    position: relative;
    overflow: visible;
    /*height: 400px;*/
}

.galigeo-slider-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.galigeo-slide {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin: 0 2%;
    border-radius: 10px;
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

/*.galigeo-slide.active {
    transform: scale(1);
}*/

.galigeo-slide-content {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    gap: 40px;    
    align-items: center;
}

.galigeo-slide-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.galigeo-slide-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.galigeo-slide-media {
    max-width: 50%;
}

.galigeo-slide-button:hover {
    opacity: 0.9;
}

.galigeo-slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.5);
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 10;
}

.galigeo-slider-nav:hover {
    background: rgba(255,255,255,0.8);
}

.galigeo-slider-prev { left: -5%; }
.galigeo-slider-next { right: -5%; }

@media all and (max-width: 768px) {
    .galigeo-slider-wrapper {
        width: 100%;
    }

    .galigeo-slide-title {
        font-size: 1.2rem;
    }
}


/* Slider Home */

.galigeo-slider-home-wrapper {
    max-width: 1600px;
    width: 80%;
    margin: 70px auto;
    overflow: hidden;
    padding: 0;
    border-radius: 8px;
}

.galigeo-slider-home {
    position: relative;
    overflow: hidden;
}

.galigeo-slider-home-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.galigeo-slide-home {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*/
    /*margin: 0 2%;*/
    border-radius: 10px;
    /*transform: scale(0.9);  Par défaut, les slides sont dézoomées */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Ajout de l'animation */
    opacity: 0.8; /* Définir une opacité réduite par défaut */
}

.galigeo-slide-home.active {
    transform: scale(1); /* Zoom pour la slide active */
    opacity: 1; /* Pleine opacité pour la slide active */
}


.galigeo-slide-home-content {
    max-width: 70%;
    color: white;
    text-align: center;
}

.galigeo-slide-home-title {
    font-family: Literata;
    color: #03234D;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.galigeo-slide-home-subtitle {
    font-family: Literata;
    font-size: 1rem;
    color: #5C5C5C;
    margin-bottom: 1.5rem;
}

.galigeo-slide-home-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.7rem;
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-size: 0.938rem;
    transition: box-shadow 0.3s ease;
}

.galigeo-slide-home-button:hover {
    /*opacity: 0.9;*/
    box-shadow: 2px 1px 5px #797979;
}

.galigeo-slide-home-image {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Boutons de navigation à l'intérieur du slide */
.galigeo-slider-home-nav, .testimonials-slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #2ECC71;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 10;
}

.galigeo-slider-home-prev, .testimonials-slider-prev,
.galigeo-slider-home-next, .testimonials-slider-next {
    opacity: 0.5;
}

.galigeo-slider-home-prev:hover, .testimonials-slider-prev:hover,
.galigeo-slider-home-next:hover, .testimonials-slider-next:hover {
    opacity: 1;
}

.galigeo-slider-home-prev, .testimonials-slider-prev {
    left: 10px; /* Bouton précédent à gauche */
}

.galigeo-slider-home-next, .testimonials-slider-next {
    right: 10px; /* Bouton suivant à droite */
}

/* Cacher les boutons et arrêter le slider si un seul slide */
.galigeo-slider-single-home .galigeo-slider-home-nav {
    display: none;
}

.galigeo-slide-home-extra-image {
    display: block;
    margin: 2rem auto 0;
    height: 30rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media all and (max-width: 768px) {
    .galigeo-slider-home-wrapper {
        width: 100%;
    }

    .galigeo-slide-home {
        border-radius: 0 !important;
    }
}

/* Alternate visual */

.av_alternate_visual_block {
    max-width: 1800px;
    margin: 30px auto;
    width: 80%;
    border-radius: 1em;
}

.av_alternate_visual_block > .container {
    gap: 4em;
}

.av_title {
    color: #03234D;
    font-family: 'Montserrat';
    font-size: 1.75rem;
    margin: 0 0 0.5rem;
}

.av_subtitle {
    color: #909090;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    margin: 0 0 1.5rem
}

.av_button {
    background-color: #03234D;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'Montserrat';
    font-synthesis: 0.938rem;
    padding: 0.75rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.av_button:hover {
    border-color: #2ecc71;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

@media all and (max-width: 768px) {
    .av_alternate_visual_block > .container {
        display: flex;
        flex-direction: column !important;
    }

    .av_text_block, .av_image_block {
        width: 100% !important;
    }
}

/* Colonnes simples */

.galigeo-columns-block {
    background: #F4F5F7;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.galigeo-columns-subblock {
    width: 80%;
}

.galigeo-columns-block .galigeo-column {
    background: #fff;
    border-radius: 1.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;    
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.03);
}

.galigeo-column-title {
    font-family: Montserrat Medium;
    font-size: 2rem;
    color: #03234D;
    margin-bottom: 1rem;
}

.galigeo-column-desc {
    font-family : 'Montserrat Regular';
    margin-bottom: 1.5rem;
}

.galigeo-column-img {
    width: 250px !important;
}

.galigeo-logo-carousel-image.black-white {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

/* Optionnel : Effet de survol pour revenir en couleur */
/*.galigeo-logo-carousel-image.black-white:hover {
    filter: grayscale(0%);
}*/

@media all and (max-width: 768px) {
    .galigeo-columns-block {
        flex-direction: column;
        align-items: center;
    }

    .galigeo-columns-subblock {
        width: 100% !important;
    }

    .galigeo-column {
        width: auto !important;
    }

    .galigeo-columns-subblock {
        width: auto !important;
        flex-direction: column;
        gap: 40px;
    }    
}

/* Text block */

.galigeo-text-block {
    background: #F4F5F7;
    border-radius: 2rem !important;
    padding: 4rem !important;
    width: 100% !important;
    text-align: center !important;
}

.galigeo-text-container {
    width: 60%;
}

.galigeo-text-title {
    font-family: Montserrat Medium;
    font-size: 2rem !important;
    color: #03234D !important;
    margin-bottom: 1rem !important;
}

.galigeo-text-description {
    font-family : 'Montserrat Regular';
    font-size :  1.125rem !important;
    color : #909090 !important;
    margin-bottom: 1.5rem !important;
}

.galigeo-text-boutons a {
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 0.938rem;
    padding: 0.75rem 1.5rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.galigeo-text-block .galigeo-text-boutons a:hover {
    border-color: #2ecc71 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16) !important;
}

@media all and (max-width: 768px) {
    .galigeo-text-container {
        width: 90%;
    }    
}

/* Block testimonials */

.testimonials-slider-wrapper {
    position: relative;
    overflow: hidden;
}

.testimonials-slider {
    position: relative;
    padding: 15rem 0;
}

.testimonials-slider-container {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.testimonial-slide-content {
    background: #fff;
    padding: 20px;  
    max-width: 600px;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 2rem 3rem 2rem;

}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.testimonial-image {
    margin-right: 15px;
    flex-shrink: 0;
    width : 3.75rem​;
    margin-right : 0.75rem​;
    margin-bottom : 1.5rem​;

}

.testimonial-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-details {
    flex-grow: 1;
}

.testimonial-name {
    font-weight: bold;
    font-family : 'Literata​';
}

.testimonial-position {
    color: #666;
    font-family : 'Montserrat​' !important;
    font-size : 1rem !important;

}

.testimonial-quote {
    font-style: italic;
    margin-top: 15px;
    font-family : 'Montserrat' !important;
    font-size : 1.1rem;

}

/* Logos carousel */

.galigeo-logo-carousel-wrapper {
    position: relative;
    padding: 5rem 0;
    overflow: hidden;
    box-shadow: 0px 16px 48px -20px rgba(0, 0, 0, 0.16);
}

.galigeo-logo-carousel {
    position: relative;
    overflow: hidden;
}

.galigeo-logo-carousel-container {
    display: flex;
    width: 100%;
}

.galigeo-logo-carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.galigeo-logo-carousel-image {
    max-width: 100%;
    max-height: 100px; /* Hauteur maximum des logos */
    /*height: 2rem;*/
    mix-blend-mode: luminosity;
    width: auto;
    object-fit: contain;
}

.galigeo-logo-carousel-nav {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.galigeo-logo-carousel-prev {
    left: 0;
}

.galigeo-logo-carousel-next {
    right: 0;
}

.galigeo-logo-carousel-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Media queries pour le responsive */
@media screen and (min-width: 1024px) {
    .galigeo-logo-carousel-slide {
        flex: 0 0 20%; /* 5 logos */
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .galigeo-logo-carousel-slide {
        flex: 0 0 33.333%; /* 3 logos */
    }
}

@media screen and (max-width: 767px) {
    .galigeo-logo-carousel-slide {
        flex: 0 0 100%; /* 1 logo */
    }
}

/* Heros cas client */

.hero-button {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.hero-button:hover {
    border-color: #2ecc71;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.hero-cas-client {
    padding: 5rem 0 7.5rem;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.hero-text {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.hero-success-story {
    font-family: 'Literata​';
    font-size: 0.875rem;
    font-weight: bold;
    color: #2ECC71;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero-title {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #03234D;
}

.hero-description {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    line-height: 1.6;
    color: #909090;
    margin-bottom: 2rem;
}

.hero-image {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    max-height: 22rem;
    display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
    .hero-text,
    .hero-image {
        max-width: 100%;
        text-align: center;
    }
}

/* CTA */


.galigeo-cta-block .cta-buttons a {
    border: solid transparent 1px; /* Bordure transparente par défaut */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0); /* Pas d'ombre par défaut */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.galigeo-cta-block .cta-buttons a:hover {
    border-color: #2ecc71; /* Change uniquement la couleur de la bordure */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16); /* Ajout de l'ombre */
}

.galigeo-cta-block {
    border-radius: 2rem;
    padding: 2.5rem;
    max-width: 1800px;
    margin: 30px auto;
    width: 80%;    
}

.cta-title {
    color: #03234D​ !important;
    font-family: 'Montserrat';
    font-size: 2.5rem;
    margin-bottom: 0.5rem !important;
    line-height: 3.5rem;
}

.cta-text {
    padding-right: 3.5rem;
}

.cta-container {
    padding: 3.5rem;
}

.cta-description {
    color : #fff​;
    font-family : 'Montserrat​';
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.cta-buttons > a {
    background : #03234D​;
    font-family : 'Montserrat';
    font-size : 0.938rem;
    padding: 1.5rem 0.75rem;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
}

.cta-image {
    border-radius: 2rem;
}

@media (max-width: 768px) {
    .cta-buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .cta-image {
        max-width: 370px;
    }

    .cta-container {
        flex-direction: column-reverse;
        padding: 0;
    }
    .cta-description {
        margin-top: 15px;
    }

    .cta-title {
        font-size: 1.5rem;
    }

    .cta-text {
        padding-right: 0;
        text-align: center;
    }
}

/* Cas client */

.galigeo-cas-client-block {
    padding-top: 2.5rem;
    background-color: #fff;
}

.galigeo-cas-client-section-title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 3rem;
    color: #03234D;
    font-family: 'Montserrat';
}

.galigeo-cas-client-title {
    font-size: 1.75rem;
    margin: 10px 0;
    color: #03234D;
    font-family: 'Montserrat';
}

.galigeo-cas-client-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.galigeo-cas-client-item {
    flex: 1 1 calc(33.333% - 20px); /* Maximum 3 items par rangée pour desktop */
    max-width: calc(33.333% - 20px);
    margin-bottom: 20px;
}

.galigeo-cas-client-item img {
    max-width: 100%;
    border-radius: 8px;
    /*height: 12rem;*/
    margin: 0 0 1rem 0;
    width: 100%;
}

.galigeo-cas-client-success-story {
    font-size: 0.875rem;
    font-family: 'Literata​ Bold';
    font-weight: bold;
    color: #2ECC71;
    margin-bottom: 0;
}

.galigeo-cas-client-title a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: #03234D;
    font-size: 1.75rem;
    margin-bottom: 0.5rem
}

.galigeo-cas-client-excerpt {
    font-size: 1.25rem;
    font-family: 'Montserrat';
    color: #909090;
    height: 7.5rem;
    margin-bottom: 1.5rem;
}

.galigeo-cas-client-read-more-button {
    background-color: #03234D;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 0.938rem;
    padding: 0.75rem 1.5rem;
}

.galigeo-cas-client-read-more-button:hover {
    background-color: #005bb5;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .galigeo-cas-client-item {
        flex: 1 1 calc(50% - 20px); /* 2 items par rangée pour tablettes */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .galigeo-cas-client-item {
        flex: 1 1 100%; /* Empilement pour mobile */
        max-width: 100%;
    }

    .galigeo-cas-client-container {
        margin: 10px 30px;
    }
}

/* FAQ */

.galigeo-faq-accordion {
    border-radius: 8px;
    /*overflow: hidden;*/
    margin: 3rem auto;
    padding-top: 1rem;
    background-color: #fff;
    width: 80%;
}

.galigeo-faq-question {
    padding: 23px 30px;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    font-size: 1rem;
    color: #60566E;
    border-radius: 1rem;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;     
    /*margin-bottom: 0.5rem;*/
}

.galigeo-faq-question:hover,
.galigeo-faq-question[aria-expanded="true"] {
    background-color: rgb(255, 66, 19);
    color: #fff;
}

.galigeo-faq-question:hover .galigeo-faq-icon,
.galigeo-faq-question[aria-expanded="true"] .galigeo-faq-icon {
    color: #fff;
}

.galigeo-faq-icon-block {
    margin-left: 10px;
    background-color: rgba(248, 246, 252, 0.3);
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
}

.galigeo-faq-icon {
    font-size: 0.938rem;
    font-weight: bold;
    color: #60566E;
    font-family: 'Montserrat';    
    user-select: none;
}

.galigeo-faq-title {
    text-align: center;
}

.galigeo-faq-question_open {
      
}

.galigeo-faq-question_open + .galigeo-faq-answer {
    border-top: 1px solid #eee;
}

.galigeo-faq-answer {
    height: 0; /* Par défaut, totalement replié */
    overflow: hidden; /* Masquer tout contenu débordant */
    transition: height 0.3s ease; /* Transition pour l'effet de déroulement */
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;    
}

.galigeo-faq-answer-content {
    padding: 15px; /* Appliquer le padding interne ici */
    background-color: #fff;
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #60566E;
    height: 7.5rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}

.galigeo-faq-answer[style*="height: auto;"] {
    height: auto; /* Laisser la réponse ouverte pour le premier élément */
}

.galigeo-faq-item {
    margin: 25px auto;
    box-shadow: 1px -1px 15px #F2F2F2;
    border-radius: 1rem;
}
